# Dependencias de Node
node_modules/

# Archivos de registro y errores
npm-debug.log
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Variables de entorno
.env